[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
kivy = "*"
bs4 = "*"
regex = "*"
logging = "*"
lxml = "*"

[requires]
python_version = "3.7"
